.filter-form {
    form {
        display: flex;
    }

    section {
        margin-right: 20px;
        white-space: nowrap;
    }

    .section-name {
        display: block;
        margin-bottom: 10px;
    }

    .form-input {
        margin-bottom: 10px;
    }

    .ant-radio-group, .ant-checkbox-group {
        display: flex;
        flex-direction: column;
    }
}